{% extends 'base.html' %}
{% load static %}

{% block content %}
    {% include 'task/admindatewidget.html' %}
    <h1>Home</h1>

    <div>
        search by title or note:
        <form action="{% url 'task:home' %}" method="get">
            {{ search_form }}
            <input type="submit" value="Search">
        </form>
    </div>

    <div>
        <p>filter by date:</p>
        <form method="get" action="{% url 'task:home' %}">
            {{ form }}
            <input type="submit" value="Search">
        </form>
    </div>

    <div>
        {% for task in task_list %}
            <ul>
                <li>
                    <a href="{% url 'task:detail' task.pk %}"><strong>{{ task.title }}</strong></a>
                    <p>{{ task.due_date }}</p>
                    <a href="{% url 'task:delete' task.pk %}">Delete</a>
                </li>
            </ul>
        {% empty %}
            <p>There is no task</p>
        {% endfor %}
        <a href="{% url 'task:create' %}">Create task</a>
    </div>
{% endblock %}