{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
{% include 'task/admindatewidget.html' %}

<div class="container">
    <p>Join us and enjoy:</p>
    <form method="post" class="login-form">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Login">
    </form>
    <p><a href="{% url 'accounts:password_reset' %}">forget password?</a></p>
    <p>don't have an account? <a href="{% url 'accounts:register' %}">Sign up</a></p>

</div>
    
{% endblock %}