{% extends 'base.html' %}
{% block title %}Password reset{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="mt-2 col-lg-6 mx-auto">
        <div class="text-center py-2 fs-4 bg-primary bg-opacity-75 shadow border border-2 border-primary border-opacity-50 border-bottom-0 rounded-top">
            Password reset
        </div>
        <div class="bg-primary bg-opacity-25 border border-2 border-primary border-opacity-50 border-top-0 px-4 py-2 rounded-bottom shadow" >
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <form method="post" class="login-form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-flex justify-content-center mb-2">
                    <input class="btn btn-primary" type="submit" value="Send">
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}