{% extends 'base.html' %}
{% block title %}reset complete{% endblock %}

{% block content %}

<div class="container">
    <div class="col-lg-7 mx-auto mt-3 p-3 bg-secondary bg-opacity-10 border border-1 shadow rounded">
        <p class="text-success fs-4">Your password has been set.  You may go ahead and log in now.</p>
        <div class="d-flex justify-content-center">
            <a class="text-decoration-none btn btn-primary" href="{% url 'accounts:login' %}">Login</a>
        </div>
    </div>
</div>

{% endblock %}
