{% extends 'base.html' %}
{% block title %}password_reset_done{% endblock %}

{% block content %}

<div class="container">
    <div class="col-lg-7 mx-auto p-3 mt-3 bg-secondary bg-opacity-10 border border-1 rounded shadow">
        <p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
        <p class="text-warning fs-5">If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
    </div>
    
</div>

{% endblock %}