{% extends 'base.html' %}
{% block title %}password change{% endblock %}

{% block content %}
{% load crispy_forms_tags %}

<div class="container mt-2 col-4 mx-auto">
    <div class="text-center py-2 fs-4 bg-primary bg-opacity-75 shadow border border-2 border-primary border-opacity-50 border-bottom-0 rounded-top">
        Change password
    </div>
    <div class="bg-primary bg-opacity-25 border border-2 border-primary border-opacity-50 border-top-0 px-4 py-2 rounded-bottom shadow" >
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="d-flex justify-content-center mb-2">
                <input class="btn btn-primary" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>
    
{% endblock %}
    