{% extends 'base.html' %}
{% block title %}password change{% endblock %}

{% block content %}

<div class="container">
    <div class="col-lg-7 mx-auto bg-secondary bg-opacity-25 text-center border border-2 border-secondary rounded shadow mt-4 py-4">
        <div class="fs-2 text-success">Password change done</div><br>
        <p class="text-success fs-5">Your password has been changed successfully</p><br>
        <a class="btn btn-success" href="{% url 'task:home' %}">Home</a>
    </div>
</div>
    
{% endblock %}