body {
    background-color: #cdcee5 !important;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.container {
    text-align: center;
    padding-top: 25px;
}

ul { list-style: none; }

.nav {
    justify-content: space-between !important;
} 
.nav li {
    list-style: none !important;
} 

.border-success {
    box-shadow: 20px 20px 10px grey;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.task-list {
    display: inline;
    margin-bottom: 0rem;
}

.empty-task {
    padding-top: 25px;
    font-size: 22px;
}

.login-form {
    display: inline-block;
}