{% extends 'base.html' %}
{% load static %}

{% block content %}
{% load crispy_forms_tags %}

 <!-- navbar search -->
<div>
  <nav class="navbar navbar-expand-lg bg-success bg-opacity-50 pb-0">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex mx-auto">
          <div class="">
            <form class="form-inline" action="{% url 'task:home' %}" method="get">
            {% crispy priority_form %}
            </form>
          </div>
  
          <div class="mx-5">
            <form method="get" action="{% url 'task:home' %}">
            {% crispy form %}
            </form>
          </div>
  
          <div class="">
            <form action="{% url 'task:home' %}" method="get">
            {% crispy search_form %}
            </form>
          </div>
        </div>

      </div>
    </div>
  </nav>
</div>
    
<!-- task list -->
<div class="container">
    <ul class="list-group my-4">
        <li class="col-lg-4 list-group-item p-1 px-2 d-flex justify-content-between bg-primary text-light shadow">
            <p class="fs-5 my-0">Add new task</p>
            <p class="d-flex align-items-center my-0">
              <a title="Add" href="{% url 'task:create' %}">
                <img src="static/images/plus-square.svg" alt="add new">
              </a>
            </p>
        </li>
    </ul>
        <div class="row list-group">
          {% for task in task_list %}
            <div class="col-lg-7 list-group-item px-2 d-flex justify-content-between bg-warning bg-opacity-50 p-1 shadow mb-2">
                <div class="col-lg-5">
                  <p class="fs-5 my-0"><a class="text-decoration-none" href="{% url 'task:update' task.pk %}">{{ task.title }}</a></p>
                </div>
                <div class="col-lg-4">
                  <p class="d-flex align-items-center my-0 text-muted">{{ task.due_date }}</p>
                </div>
                {% if task.passed %}
                <div class="col-lg-1">
                  <p class="d-flex align-items-center my-0 text-muted">
                    <img title="check passed" src="static/images/check-circle-fill.svg" alt="done">
                  </p>
                </div>
                {% else %}
                <div class="col-lg-1">
                  <p class="d-flex align-items-center my-0 text-muted">
                    <img  title="check passed" src="static/images/x-circle-fill.svg" alt="not">
                  </p>
                </div>
                {% endif %}
                <div class="col-lg-2">
                  <p class="d-flex align-items-center justify-content-end my-0">
                    <a class="me-3" title="Delete" href="{% url 'task:delete' task.pk %}"><img src="static/images/trash3.svg" alt="delete"></a>
                    <a title="Edite" href="{% url 'task:update' task.pk %}"><img src="static/images/pencil-square.svg" alt="edit"></a>
                  </p>
                </div>
            </div>
          {% empty %}  
        </div>
        <div class="container text-center">
          <p class="fs-3 pt-5">OOOPS!</p>
          <p class="fs-5">There is no task.</p>
        </div>
    {% endfor %}
</div>

{% endblock %}
